@tailwind base;
@tailwind components;
@tailwind utilities;

.screen-shiksha {
    position: relative;
    display: inline-block;
    color: black;
    background: linear-gradient(to right, #ffffff 20%, #13010166 50%, #ffffff 80%);
    background-size: 200% auto;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: light-reflect 2s infinite;
  }
  
  @keyframes light-reflect {
    0% {
      background-position: -100% 0;
    }
    100% {
      background-position: 100% 0;
    }
  }
  

  /* Add this to your global CSS file (e.g., styles.css) */

/* Keyframes for smooth left-to-right scrolling */
@keyframes scrollLeftToRight {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%); /* Move the scroll by the full width of the container */
    }
  }
  
  .scroll-container {
    display: flex;
    overflow: hidden; /* Hide the overflow to create the scrolling effect */
  }
  
  .scroll-content {
    display: flex;
    animation: scrollLeftToRight 20s linear infinite; /* Smooth infinite scroll */
  }
  
  .scroll-content > div {
    margin-right: 20px; /* Optional: Space between the cards */
  }
  